body {
    overflow: hidden;
}
body:not(.hz-loaded) .hz-hide-on-load {
    display: none;
}
.hz-canvas {
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hz-console {
    height: 600px;
}
.hz-page-cover {
    position: fixed;
    z-index: 9999;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.1);
}
